// config.js
const config = {
  FTP_HOST: "tuservidor.ftp.com",
  FTP_USER: "tuusuario",
  FTP_PASSWORD: "tucontraseña",
  FTP_PORT: 21, // O el puerto que utilices
  FTP_REMOTE_PATH: "/ruta/remota"
};

export default config;
