footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030; /* Keeps the footer on top */
    background-color: #343a40; /* Dark background for contrast */
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd; /* Visual separation */
    margin-top: 4rem !important; /* Para evitar superposición con el Navbar */
  }
  
  /* Styling for footer icons */
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #61dafb; /* Change color on hover */
  }