/* General spacing for all screens */
.container-fluid {
  padding-left: 15px; /* Ajuste básico para todo el contenido */
  padding-right: 15px;
  margin-top: 70px; /* Para evitar superposición con el Navbar */
  max-width: 100%; /* Asegurar que no supere el ancho total en pantallas pequeñas */
}

/* Larger screens */
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 30px; /* Espaciado adicional para pantallas medianas en adelante */
    padding-right: 30px;
    max-width: 720px; /* Limita el ancho para pantallas medianas */
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 50px; /* Espaciado generoso para pantallas grandes */
    padding-right: 50px;
    max-width: 1200px; /* Ancho limitado para pantallas grandes */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Sidebar adjustments */
.sidebar {
  margin-top: 1rem;
  border-right: 1px solid #ddd; /* Visual separation for the sidebar */
}

/* Main content spacing */
.p-4 {
  margin-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

/* Alinear el título del sidebar a la izquierda */
.sidebar h5 {
  text-align: left; /* Alinea el texto del título */
  padding-left: 15px; /* Añade algo de espacio desde el borde */
}

/* Botones de capítulos alineados a la izquierda */
.sidebar button {
  text-align: left; /* Asegura que el texto del botón también esté alineado a la izquierda */
}

blockquote {
  margin-left: 2em;
  font-weight: 400;
  border-left: 3px solid #ccc;
  padding-left: 1em;
}
