<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Excluir el subdirectorio pokestops para que no se reescriba
  RewriteRule ^pokestops/ - [L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
